table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .header, #toujours{
    font-family: 'Cookie', cursive;
   
}
h3{
    font-family: 'Pacifico', cursive;
}
.navbar{
    margin: 0;
}
#contact{
  width: 100%;
}
body{
  background-image: url(pictures\ToujoursBelle.JPG);
}