<!DOCTYPE html>
<html lang="en" ng-app="toujoursApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="toujoursAppCtrl.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div ng-controller="toujoursAppCtrl">
        X:
        <input type="number" ng-model="x"><br><br>
        Y:
        <input type="number" ng-model="y"><br>
       <p>Sum: {{sum()}}</p>
       <p>Minus: {{minus()}}</p>
       <p>Total: {{total()}}</p>
       <p>Divide: {{divide() | number :2}}</p>
     

</body>

</html>